## Jobs-Housing Fit
The purpose of this book is to calculate the jobs-housing fit by jurisdiction

In [1]:
import numpy as np
import pandas as pd

Adding and Cleaning Jurisdictions

In [119]:
#Add jurisdictions
county_15=pd.read_csv(r"C:\Users\jhalpern\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim 1.5\PBA50\Draft Blueprint runs\Blueprint Plus Crossing (s23)\v1.7.1- FINAL DRAFT BLUEPRINT\run98_county_summaries_2015.csv")
county_50=pd.read_csv(r"C:\Users\jhalpern\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim 1.5\PBA50\Draft Blueprint runs\Blueprint Plus Crossing (s23)\v1.7.1- FINAL DRAFT BLUEPRINT\run98_county_summaries_2050.csv")
juris_15=pd.read_csv(r"C:\Users\jhalpern\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim 1.5\PBA50\Draft Blueprint runs\Blueprint Plus Crossing (s23)\v1.7.1- FINAL DRAFT BLUEPRINT\run98_juris_summaries_2015.csv")
juris_50=pd.read_csv(r"C:\Users\jhalpern\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim 1.5\PBA50\Draft Blueprint runs\Blueprint Plus Crossing (s23)\v1.7.1- FINAL DRAFT BLUEPRINT\run98_juris_summaries_2050.csv")
juris2county=pd.read_csv(r"C:\Users\jhalpern\Desktop\Jobs-Housing Balance\Juris_to_County.csv")

In [343]:
county_15

   COUNTY  AGREMPN   FPSEMPN   HEREMPN  ...   AGE0519   AGE2044   AGE4564    AGE65P
0       1    850.0  151982.0  240815.0  ...   95930.0  371076.0  234449.0  136669.0
1       2   2445.0   63820.0   71738.0  ...  134135.0  268069.0  216756.0  117563.0
2       3   4913.0  145446.0  184034.0  ...  361649.0  679349.0  502716.0  240693.0
3       4   1363.0  103819.0  165012.0  ...  281898.0  618176.0  403509.0  197260.0
4       5   1441.0   57292.0   76853.0  ...  212842.0  379465.0  303206.0  159714.0
5       6   1892.0   10401.0   25036.0  ...   86724.0  150352.0  117440.0   56507.0
6       7   4585.0    5980.0   12149.0  ...   27734.0   46359.0   38476.0   25612.0
7       8   6706.0   23248.0   40626.0  ...   93276.0  166012.0  138114.0   89158.0
8       9    699.0   21601.0   29450.0  ...   42052.0   71394.0   85188.0   62881.0

[9 rows x 33 columns]

In [19]:
print(juris_15)

               juris  tothh  ...  total_subsidy  subsidy_per_unit
0            Alameda  30148  ...            NaN               NaN
1     Alameda County  49403  ...            NaN               NaN
2             Albany   7435  ...            NaN               NaN
3    American Canyon   5540  ...            NaN               NaN
4            Antioch  32856  ...            NaN               NaN
..               ...    ...  ...            ...               ...
104          Vallejo  41571  ...            NaN               NaN
105     Walnut Creek  31050  ...            NaN               NaN
106          Windsor   9017  ...            NaN               NaN
107         Woodside   2217  ...            NaN               NaN
108       Yountville   1141  ...            NaN               NaN

[109 rows x 25 columns]

In [120]:
#Add county names to juris2county
lst = {'County':['Alameda','Contra Costa','Marin','Napa','San Francisco',
                  'San Mateo','Santa Clara','Solano','Sonoma'], 
        'fips_county':[1,13,41,55,75,81,85,95,97]} 
cty = pd.DataFrame(lst) 
print(cty)

          County  fips_county
0        Alameda            1
1   Contra Costa           13
2          Marin           41
3           Napa           55
4  San Francisco           75
5      San Mateo           81
6    Santa Clara           85
7         Solano           95
8         Sonoma           97

In [121]:
#Add county names
juris2cty=pd.merge(juris2county,cty,left_on='fipco', right_on='fips_county',how='left')
juris2cty.drop(['Shape__Area','Shape__Length','fips_county','fipst','objectid'], inplace=True,axis=1)

In [130]:
juris2cty

     fipco          jurname        County
0        1          Alameda       Alameda
1        1           Albany       Alameda
2       55  American Canyon          Napa
3       13          Antioch  Contra Costa
4       81         Atherton     San Mateo
..     ...              ...           ...
96      95          Vallejo        Solano
97      13     Walnut Creek  Contra Costa
98      97          Windsor        Sonoma
99      81         Woodside     San Mateo
100     55       Yountville          Napa

[101 rows x 3 columns]

In [131]:
#Add unincorpated County juris
#didn't do in the end just using county summaries
lst2 = {'County':['Alameda','Contra Costa','Marin','Napa',
                  'San Mateo','Santa Clara','Solano','Sonoma'], 
        'jurname':['Alameda County','Contra Costa County','Marin County','Napa County',
                  'San Mateo County','Santa Clara County','Solano County','Sonoma County']}
unincorp = pd.DataFrame(lst2) 
mapjuris2cty=juris2cty.append(unincorp, sort=False)

In [133]:
#Merge with juris_15 and juris_50
juris2015=pd.merge(juris_15,mapjuris2cty,left_on='juris', right_on='jurname',how='left')
juris2050=pd.merge(juris_50,mapjuris2cty,left_on='juris', right_on='jurname',how='left')

In [134]:
#Confirm no missing values for County
filtered_df = juris2015[juris2015['County'].isnull()]
print(filtered_df)

Empty DataFrame
Columns: [juris, tothh, hhincq1, hhincq2, hhincq3, hhincq4, sfdu, mfdu, totemp, agrempn, mwtempn, retempn, fpsempn, herempn, othempn, occupancy_rate, non_residential_sqft, sq_ft_per_employee, deed_restricted_units, inclusionary_units, subsidized_units, inclusionary_revenue_reduction, inclusionary_revenue_reduction_per_unit, total_subsidy, subsidy_per_unit, fipco, jurname, County]
Index: []

In [315]:
juris2015

               juris  tothh  hhincq1  ...  fipco          jurname        County
0            Alameda  30148     8948  ...    1.0          Alameda       Alameda
1     Alameda County  49403    13210  ...    NaN   Alameda County       Alameda
2             Albany   7435     2259  ...    1.0           Albany       Alameda
3    American Canyon   5540     1514  ...   55.0  American Canyon          Napa
4            Antioch  32856     7747  ...   13.0          Antioch  Contra Costa
..               ...    ...      ...  ...    ...              ...           ...
104          Vallejo  41571    11797  ...   95.0          Vallejo        Solano
105     Walnut Creek  31050     7453  ...   13.0     Walnut Creek  Contra Costa
106          Windsor   9017     2048  ...   97.0          Windsor        Sonoma
107         Woodside   2217      149  ...   81.0         Woodside     San Mateo
108       Yountville   1141      323  ...   55.0       Yountville          Napa

[109 rows x 28 columns]

Next part is test if wanting to pivot instead on Industry

In [321]:
j2015_pivot=pd.wide_to_long(juris2015, stubnames='Industry', i=['juris', 'tothh','hhincq1'], j=["agrempn"])

AttributeError: 'DataFrame' object has no attribute 'str'

Calculate Low-wage shares by County and MTC industry type

In [101]:
#Load employment-based and residence-based jobs data
jobs_EB=pd.read_csv(r"C:\Users\jhalpern\Documents\R\PBA2050\Outputs\Jobs-HousingFit\PUMS2014-2018 Income by Industry and Emp County.csv")
jobs_RB=pd.read_csv(r"C:\Users\jhalpern\Documents\R\PBA2050\Outputs\Jobs-HousingFit\PUMS2014-2018 Income by Industry and Res County.csv")

In [102]:
#Note uncoded are not included
jobs_EB['tot_pwgt'] = jobs_EB['1_less than 40k']+jobs_EB['2_40k to 49,999']+jobs_EB['3_50k to 79,999']+jobs_EB['4_80k to 99,999']+jobs_EB['5_100k to 149,999']+jobs_EB['6_150k to 249,999']+jobs_EB['7_250k+']

In [103]:
jobs_EB['shareLW_Under40k']=jobs_EB['1_less than 40k']/jobs_EB['tot_pwgt']
jobs_EB['shareLW_Under50k']=(jobs_EB['1_less than 40k']+jobs_EB['2_40k to 49,999'])/jobs_EB['tot_pwgt']
jobs_EB['shareLW_Under80k']=(jobs_EB['1_less than 40k']+jobs_EB['2_40k to 49,999']+jobs_EB['3_50k to 79,999'])/jobs_EB['tot_pwgt']

In [104]:
#There is a significant difference between using less than $40k and less than $50k
#Measure and describe the difference
jobs_EB['diff40kto50k']=jobs_EB['2_40k to 49,999']/jobs_EB['tot_pwgt']
jobs_EB[["shareLW_Under40k","shareLW_Under50k","diff40kto50k"]].describe()

       shareLW_Under40k  shareLW_Under50k  diff40kto50k
count         63.000000         63.000000     63.000000
mean           0.107373          0.159244      0.051871
std            0.048279          0.063976      0.026254
min            0.000000          0.053191      0.017473
25%            0.074745          0.120876      0.037670
50%            0.101639          0.156104      0.050984
75%            0.133947          0.187091      0.057982
max            0.244444          0.407677      0.171799

In [351]:
#Number of NaN (Industry) is 22,633
jobs_EB[jobs_EB['Industry'].isnull()]['tot_pwgt'].sum()

22633

Group by County

In [109]:
jobs_county=jobs_EB.groupby("County_Emp").sum()

In [110]:
#Total person weights similar to Vital Signs employment numbers
jobs_county['tot_pwgt'].sum()

3917387

In [111]:
#Recalculate shares using county numbers (for later comparison)
jobs_county['shareLW_Under40k']=jobs_county['1_less than 40k']/jobs_county['tot_pwgt']
jobs_county['shareLW_Under50k']=(jobs_county['1_less than 40k']+jobs_county['2_40k to 49,999'])/jobs_county['tot_pwgt']
jobs_county['shareLW_Under80k']=(jobs_county['1_less than 40k']+jobs_county['2_40k to 49,999']+jobs_county['3_50k to 79,999'])/jobs_county['tot_pwgt']
jobs_county['diff40kto50k']=jobs_county['2_40k to 49,999']/jobs_county['tot_pwgt']
jobs_county[["shareLW_Under40k","shareLW_Under50k","diff40kto50k"]].describe()

       shareLW_Under40k  shareLW_Under50k  diff40kto50k
count          9.000000          9.000000      9.000000
mean           0.095697          0.140982      0.045284
std            0.020466          0.032012      0.012173
min            0.066721          0.099290      0.031859
25%            0.081382          0.113241      0.032568
50%            0.099691          0.144602      0.045766
75%            0.114131          0.162430      0.048300
max            0.123165          0.186277      0.063772

In [112]:
jobs_county

               1_less than 40k  2_40k to 49,999  ...  shareLW_Under80k  diff40kto50k
County_Emp                                       ...
Alameda                  74461            32719  ...          0.296983      0.044143
Contra Costa             36460            17991  ...          0.293086      0.045766
Marin                    12478             5746  ...          0.297746      0.045907
Napa                      8758             4846  ...          0.370259      0.063772
San Francisco            59125            23146  ...          0.231525      0.031859
San Mateo                26778            13071  ...          0.217192      0.032568
Santa Clara              72764            34525  ...          0.210512      0.032134
Solano                   18399             9428  ...          0.376457      0.063112
Sonoma                   26281            11122  ...          0.364232      0.048300

[9 rows x 13 columns]

Group by Industry

In [113]:
jobs_industry=jobs_EB.groupby("Industry").sum()

In [114]:
jobs_industry

          1_less than 40k  2_40k to 49,999  ...  shareLW_Under80k  diff40kto50k
Industry                                    ...
AGREMPN              5286             2382  ...          4.047550      0.689407
FPSEMPN             59076            26497  ...          2.149719      0.328751
HEREMPN            150848            63616  ...          2.998408      0.454093
MWTEMPN             37201            19536  ...          2.301390      0.337755
OTHEMPN             38014            22326  ...          2.484367      0.429357
RETEMPN             42445            16911  ...          3.181072      0.455835

[6 rows x 13 columns]

In [115]:
#Recalculate shares using grouped numbers (for later comparison)
jobs_industry['shareLW_Under40k']=jobs_industry['1_less than 40k']/jobs_industry['tot_pwgt']
jobs_industry['shareLW_Under50k']=(jobs_industry['1_less than 40k']+jobs_industry['2_40k to 49,999'])/jobs_industry['tot_pwgt']
jobs_industry['shareLW_Under80k']=(jobs_industry['1_less than 40k']+jobs_industry['2_40k to 49,999']+jobs_industry['3_50k to 79,999'])/jobs_industry['tot_pwgt']
jobs_industry['diff40kto50k']=jobs_industry['2_40k to 49,999']/jobs_industry['tot_pwgt']
jobs_industry[["shareLW_Under40k","shareLW_Under50k","diff40kto50k"]].describe()

       shareLW_Under40k  shareLW_Under50k  diff40kto50k
count          6.000000          6.000000      6.000000
mean           0.098501          0.143566      0.045065
std            0.044883          0.062502      0.018086
min            0.056276          0.085829      0.027055
25%            0.062650          0.093166      0.032390
50%            0.091905          0.136429      0.044176
75%            0.117867          0.165493      0.047974
max            0.171501          0.248783      0.077282

In [117]:
jobs_industry

          1_less than 40k  2_40k to 49,999  ...  shareLW_Under80k  diff40kto50k
Industry                                    ...
AGREMPN              5286             2382  ...          0.477516      0.077282
FPSEMPN             59076            26497  ...          0.187269      0.027055
HEREMPN            150848            63616  ...          0.318446      0.048148
MWTEMPN             37201            19536  ...          0.219564      0.029553
OTHEMPN             38014            22326  ...          0.242974      0.040900
RETEMPN             42445            16911  ...          0.331145      0.047452

[6 rows x 13 columns]

In [116]:
#Compare distribution of Agriculture to regional values
jobs_EB.loc[jobs_EB['Industry'] == 'AGREMPN'][["shareLW_Under40k","shareLW_Under50k","diff40kto50k"]].describe()

       shareLW_Under40k  shareLW_Under50k  diff40kto50k
count          9.000000          9.000000      9.000000
mean           0.174967          0.251568      0.076601
std            0.045190          0.072058      0.035657
min            0.125806          0.181818      0.046214
25%            0.135072          0.215313      0.053559
50%            0.161754          0.228842      0.065673
75%            0.213759          0.296693      0.082609
max            0.244444          0.407677      0.163232

## Combine shares and juris/county summary

In [297]:
#Before merging, need to pivot Industry from rows to columns
jobs_EB.rename(inplace=True,columns={"shareLW_Under40k": "Under40k", "shareLW_Under50k": "Under50k","shareLW_Under80k": "Under80k"})
jobs_pivot=jobs_EB.pivot(index='County_Emp', columns='Industry', values=['Under40k','Under50k','Under80k'])

In [298]:
jobs_pivot

               Under40k                      ...  Under80k
Industry            NaN   AGREMPN   FPSEMPN  ...   MWTEMPN   OTHEMPN   RETEMPN
County_Emp                                   ...
Alameda        0.144467  0.161754  0.076091  ...  0.277227  0.282801  0.348883
Contra Costa   0.137080  0.135072  0.073399  ...  0.238107  0.288415  0.345878
Marin          0.063209  0.125806  0.085293  ...  0.203981  0.291481  0.374490
Napa           0.000000  0.213759  0.101639  ...  0.334111  0.321133  0.408079
San Francisco  0.122653  0.182628  0.046273  ...  0.239142  0.206635  0.281152
San Mateo      0.083723  0.231020  0.047338  ...  0.191129  0.178340  0.281970
Santa Clara    0.085836  0.130315  0.047405  ...  0.146322  0.198401  0.303350
Solano         0.147287  0.244444  0.132822  ...  0.358011  0.373042  0.419164
Sonoma         0.216973  0.149906  0.111628  ...  0.313361  0.344119  0.418106

[9 rows x 21 columns]

In [299]:
jobs_pivot=jobs_pivot.reset_index(drop=False)

In [300]:
len(jobs_pivot.columns)

22

In [328]:
tempcolumn=['County_Emp']+[x+y for x in ['U40k_','U50k_','U80k_'] for y in ['NaN','AGREMPN','FPSEMPN','HEREMPN','MWTEMPN','OTHEMPN','RETEMPN']]

In [309]:
print(tempcolumn)

['County_Emp', 'U40k_NaN', 'U40k_AGREMPN', 'U40k_FPSEMPN', 'U40k_HEREMPN', 'U40k_MWTEMPN', 'U40k_OTHEMPN', 'U40k_RETEMPN', 'U50k_NaN', 'U50k_AGREMPN', 'U50k_FPSEMPN', 'U50k_HEREMPN', 'U50k_MWTEMPN', 'U50k_OTHEMPN', 'U50k_RETEMPN', '80k_NaN', '80k_AGREMPN', '80k_FPSEMPN', '80k_HEREMPN', '80k_MWTEMPN', '80k_OTHEMPN', '80k_RETEMPN']

In [310]:
len(tempcolumn)

22

In [329]:
jobs_pivot.columns=tempcolumn

In [330]:
jobs_pivot

      County_Emp  U40k_NaN  ...  U80k_OTHEMPN  U80k_RETEMPN
0        Alameda  0.144467  ...      0.282801      0.348883
1   Contra Costa  0.137080  ...      0.288415      0.345878
2          Marin  0.063209  ...      0.291481      0.374490
3           Napa  0.000000  ...      0.321133      0.408079
4  San Francisco  0.122653  ...      0.206635      0.281152
5      San Mateo  0.083723  ...      0.178340      0.281970
6    Santa Clara  0.085836  ...      0.198401      0.303350
7         Solano  0.147287  ...      0.373042      0.419164
8         Sonoma  0.216973  ...      0.344119      0.418106

[9 rows x 22 columns]

In [331]:
juris15_shares = pd.merge(juris2015, jobs_pivot,  how='left', left_on=['County'], right_on = ['County_Emp'])

In [332]:
#number of low wage jobs for each HH income cutoff
juris15_shares['LWJobs_U40k']=round(juris15_shares['U40k_AGREMPN']*juris15_shares['agrempn']+ \
                            juris15_shares['U40k_MWTEMPN']*juris15_shares['mwtempn']+ \
                            juris15_shares['U40k_RETEMPN']*juris15_shares['retempn']+ \
                            juris15_shares['U40k_FPSEMPN']*juris15_shares['fpsempn']+ \
                            juris15_shares['U40k_HEREMPN']*juris15_shares['herempn']+ \
                            juris15_shares['U40k_OTHEMPN']*juris15_shares['othempn'])

juris15_shares['LWJobs_U50k']=round(juris15_shares['U50k_AGREMPN']*juris15_shares['agrempn']+ \
                            juris15_shares['U50k_MWTEMPN']*juris15_shares['mwtempn']+ \
                            juris15_shares['U50k_RETEMPN']*juris15_shares['retempn']+ \
                            juris15_shares['U50k_FPSEMPN']*juris15_shares['fpsempn']+ \
                            juris15_shares['U50k_HEREMPN']*juris15_shares['herempn']+ \
                            juris15_shares['U50k_OTHEMPN']*juris15_shares['othempn'])

juris15_shares['LWJobs_U80k']=round(juris15_shares['U80k_AGREMPN']*juris15_shares['agrempn']+ \
                            juris15_shares['U80k_MWTEMPN']*juris15_shares['mwtempn']+ \
                            juris15_shares['U80k_RETEMPN']*juris15_shares['retempn']+ \
                            juris15_shares['U80k_FPSEMPN']*juris15_shares['fpsempn']+ \
                            juris15_shares['U80k_HEREMPN']*juris15_shares['herempn']+ \
                            juris15_shares['U80k_OTHEMPN']*juris15_shares['othempn'])

In [335]:
#Test Bay area J-HH fit 
#It should not be this low... .73
juris15_shares['LWJobs_U50k'].sum()/juris15_shares['hhincq1'].sum()

0.7299175013730897

In [342]:
#Test Bay area J-HH fit 
#Slightly higher if using Q1+Q2 and Under $80k annual HH income
juris15_shares['LWJobs_U80k'].sum()/(juris15_shares['hhincq1'].sum()+juris15_shares['hhincq2'].sum())

0.7976862323298941

In [344]:
# ~13% of all jobs are low wage
#this number also seems low
juris15_shares['LWJobs_U50k'].sum()/juris15_shares['totemp'].sum()

0.12873884170994662

In [352]:
juris15_shares['Jobs-HH Fit']=juris15_shares['LWJobs_U50k']/juris15_shares['hhincq1']

In [353]:
juris15_shares

               juris  tothh  hhincq1  ...  LWJobs_U50k  LWJobs_U80k  Jobs-HH Fit
0            Alameda  30148     8948  ...       4637.0       9689.0     0.518216
1     Alameda County  49403    13210  ...       3553.0       7237.0     0.268963
2             Albany   7435     2259  ...        686.0       1395.0     0.303674
3    American Canyon   5540     1514  ...       1095.0       2262.0     0.723250
4            Antioch  32856     7747  ...       3279.0       6909.0     0.423261
..               ...    ...      ...  ...          ...          ...          ...
104          Vallejo  41571    11797  ...       5655.0      10912.0     0.479359
105     Walnut Creek  31050     7453  ...       7248.0      15331.0     0.972494
106          Windsor   9017     2048  ...       1155.0       2668.0     0.563965
107         Woodside   2217      149  ...        202.0        423.0     1.355705
108       Yountville   1141      323  ...        378.0        801.0     1.170279

[109 rows x 54 columns]

In [357]:
selected_columns = juris15_shares[["juris","County","Jobs-HH Fit",'LWJobs_U50k','totemp','hhincq1','tothh','U50k_AGREMPN','U50k_FPSEMPN','U50k_HEREMPN','U50k_MWTEMPN','U50k_OTHEMPN','U50k_RETEMPN']]
Juris15_export = selected_columns.copy()

In [359]:
Juris15_export.to_csv(r'C:\Users\jhalpern\Box\Horizon and Plan Bay Area 2050\Equity and Performance\7_Analysis\Jobs-Housing Fit\Outputs\Jurisdiction2015_JHFit.csv', index = False)

In [337]:
county15_shares=juris15_shares.groupby("County").sum()

In [339]:
county15_shares['Jobs-HH Fit']=county15_shares['LWJobs_U50k']/county15_shares['hhincq1']

In [367]:
#Note County is index
selected_columns = county15_shares[["Jobs-HH Fit",'LWJobs_U50k','totemp','hhincq1','tothh']]
County15_export = selected_columns.copy()

In [368]:
County15_export.to_csv(r'C:\Users\jhalpern\Box\Horizon and Plan Bay Area 2050\Equity and Performance\7_Analysis\Jobs-Housing Fit\Outputs\County2015_JHFit.csv')

In [369]:
County15_export

               Jobs-HH Fit  LWJobs_U50k   totemp  hhincq1   tothh
County
Alameda           0.700408     119042.0   815374   169961  553034
Contra Costa      0.596083      52286.0   373697    87716  382556
Marin             0.943979      18468.0   119652    19564  108935
Napa              0.900186      11634.0    63365    12924   50957
San Francisco     0.995983     118008.0   924982   118484  362220
San Mateo         0.741206      35440.0   349248    47814  267155
Santa Clara       0.648166     104111.0  1035571   160624  617732
Solano            0.657187      24032.0   124401    36568  143790
Sonoma            0.618006      32619.0   199028    52781  190197

In [ ]:
#Test if different results by recalculating for county

In [354]:
jobs_county

               1_less than 40k  2_40k to 49,999  ...  shareLW_Under80k  diff40kto50k
County_Emp                                       ...
Alameda                  74461            32719  ...          0.296983      0.044143
Contra Costa             36460            17991  ...          0.293086      0.045766
Marin                    12478             5746  ...          0.297746      0.045907
Napa                      8758             4846  ...          0.370259      0.063772
San Francisco            59125            23146  ...          0.231525      0.031859
San Mateo                26778            13071  ...          0.217192      0.032568
Santa Clara              72764            34525  ...          0.210512      0.032134
Solano                   18399             9428  ...          0.376457      0.063112
Sonoma                   26281            11122  ...          0.364232      0.048300

[9 rows x 13 columns]

In [ ]:
#number of low wage jobs for each HH income cutoff
juris15_shares['LWJobs_U40k']=round(juris15_shares['U40k_AGREMPN']*juris15_shares['agrempn']+ \
                            juris15_shares['U40k_MWTEMPN']*juris15_shares['mwtempn']+ \
                            juris15_shares['U40k_RETEMPN']*juris15_shares['retempn']+ \
                            juris15_shares['U40k_FPSEMPN']*juris15_shares['fpsempn']+ \
                            juris15_shares['U40k_HEREMPN']*juris15_shares['herempn']+ \
                            juris15_shares['U40k_OTHEMPN']*juris15_shares['othempn'])

juris15_shares['LWJobs_U50k']=round(juris15_shares['U50k_AGREMPN']*juris15_shares['agrempn']+ \
                            juris15_shares['U50k_MWTEMPN']*juris15_shares['mwtempn']+ \
                            juris15_shares['U50k_RETEMPN']*juris15_shares['retempn']+ \
                            juris15_shares['U50k_FPSEMPN']*juris15_shares['fpsempn']+ \
                            juris15_shares['U50k_HEREMPN']*juris15_shares['herempn']+ \
                            juris15_shares['U50k_OTHEMPN']*juris15_shares['othempn'])

juris15_shares['LWJobs_U80k']=round(juris15_shares['U80k_AGREMPN']*juris15_shares['agrempn']+ \
                            juris15_shares['U80k_MWTEMPN']*juris15_shares['mwtempn']+ \
                            juris15_shares['U80k_RETEMPN']*juris15_shares['retempn']+ \
                            juris15_shares['U80k_FPSEMPN']*juris15_shares['fpsempn']+ \
                            juris15_shares['U80k_HEREMPN']*juris15_shares['herempn']+ \
                            juris15_shares['U80k_OTHEMPN']*juris15_shares['othempn'])