In [1]:
import os
import pandas as pd

In [2]:
folder = 'C:\\Users\\{}\\Box\\Modeling and Surveys\\Urban Modeling\\Bay Area UrbanSim\\PBA50'.format(os.getenv('USERNAME'))

In [3]:
np_15 = pd.read_csv(os.path.join(folder, 'EIR runs', 'Baseline Large (s25) runs', 'NP_v8_FINAL',
                               'run314_county_summaries_2015.csv'),
                    usecols = ['COUNTY_NAME', 'TOTEMP', 'TOTHH'])
np_15['ratio_2015'] = np_15['TOTEMP'] / np_15['TOTHH']
display(np_15.sort_values(by='COUNTY_NAME'))
np_15.set_index('COUNTY_NAME', inplace=True)

     COUNTY_NAME   TOTEMP     TOTHH  ratio_2015
3        Alameda   866642  551735.0    1.570758
4   Contra Costa   402782  382696.0    1.052486
8          Marin   134853  108423.0    1.243767
6           Napa    71256   50495.0    1.411150
0  San Francisco   681899  365098.0    1.867715
1      San Mateo   393042  264844.0    1.484051
2    Santa Clara  1098502  623307.0    1.762377
5         Solano   131956  141835.0    0.930349
7         Sonoma   223230  188143.0    1.186491

In [4]:
np_50 = pd.read_csv(os.path.join(folder, 'EIR runs', 'Baseline Large (s25) runs', 'NP_v8_FINAL',
                               'run314_county_summaries_2050.csv'),
                    usecols = ['COUNTY_NAME', 'TOTEMP', 'TOTHH'])
np_50['ratio_np'] = np_50['TOTEMP'] / np_50['TOTHH']
display(np_50.sort_values(by='COUNTY_NAME'))
np_50.set_index('COUNTY_NAME', inplace=True)

     COUNTY_NAME     TOTEMP      TOTHH  ratio_np
3        Alameda  1124891.0   801514.0  1.403458
4   Contra Costa   496486.0   669328.0  0.741768
8          Marin   116727.0   129965.0  0.898142
6           Napa    91548.0    60571.0  1.511416
0  San Francisco   968972.0   507002.0  1.911180
1      San Mateo   495158.0   391120.0  1.266000
2    Santa Clara  1653770.0  1064160.0  1.554061
5         Solano   174979.0   184224.0  0.949817
7         Sonoma   284645.0   235428.0  1.209053

In [5]:
fbp = pd.read_csv(os.path.join(folder, 'Final Blueprint runs', 'Final Blueprint (s24)','BAUS v2.25 - FINAL VERSION',
                               'run182_county_summaries_2050.csv'),
                  usecols = ['COUNTY_NAME', 'TOTEMP', 'TOTHH'])
fbp['ratio_fbp'] = fbp['TOTEMP'] / fbp['TOTHH']
display(fbp.sort_values(by='COUNTY_NAME'))
fbp.set_index('COUNTY_NAME', inplace=True)

     COUNTY_NAME     TOTEMP      TOTHH  ratio_fbp
3        Alameda  1182024.0   846769.0   1.395923
4   Contra Costa   533777.0   551378.0   0.968078
8          Marin   115834.0   145752.0   0.794734
6           Napa    86704.0    55601.0   1.559396
0  San Francisco   918214.0   578370.0   1.587589
1      San Mateo   507317.0   393773.0   1.288349
2    Santa Clara  1610463.0  1075198.0   1.497829
5         Solano   201458.0   176532.0   1.141198
7         Sonoma   251355.0   219939.0   1.142840

In [6]:
alt1 = pd.read_csv(os.path.join(folder, 'EIR runs', 'Alt1 (s26) runs', 'Alt1_v3_test_far_tiers_FINAL_EIR_ALT',
                               'run375_county_summaries_2050.csv'),
                   usecols = ['COUNTY_NAME', 'TOTEMP', 'TOTHH'])
alt1['ratio_alt1'] = alt1['TOTEMP'] / alt1['TOTHH']
display(alt1.sort_values(by='COUNTY_NAME'))
alt1.set_index('COUNTY_NAME', inplace=True)

     COUNTY_NAME     TOTEMP      TOTHH  ratio_alt1
3        Alameda  1171511.0   855540.0    1.369323
4   Contra Costa   588494.0   504557.0    1.166358
8          Marin   126743.0   151614.0    0.835958
6           Napa    87282.0    55938.0    1.560335
0  San Francisco   902370.0   626877.0    1.439469
1      San Mateo   488517.0   420270.0    1.162388
2    Santa Clara  1594247.0  1056234.0    1.509369
5         Solano   198905.0   153330.0    1.297235
7         Sonoma   249077.0   218952.0    1.137587

In [7]:
alt2 = pd.read_csv(os.path.join(folder, 'EIR runs', 'Alt2 (s28) runs', 'Alt2_v1_FINAL_EIR_ALT',
                               'run374_county_summaries_2050.csv'),
                   usecols = ['COUNTY_NAME', 'TOTEMP', 'TOTHH'])
alt2['ratio_alt2'] = alt2['TOTEMP'] / alt2['TOTHH']
display(alt2.sort_values(by='COUNTY_NAME'))
alt2.set_index('COUNTY_NAME', inplace=True)

     COUNTY_NAME     TOTEMP      TOTHH  ratio_alt2
3        Alameda  1194044.0   838532.0    1.423970
4   Contra Costa   530123.0   532208.0    0.996082
8          Marin   119530.0   135537.0    0.881899
6           Napa    87995.0    54557.0    1.612900
0  San Francisco  1007103.0   520243.0    1.935832
1      San Mateo   482116.0   391815.0    1.230468
2    Santa Clara  1533728.0  1167742.0    1.313413
5         Solano   200807.0   178740.0    1.123459
7         Sonoma   251700.0   223938.0    1.123972

In [8]:
summary = pd.concat([np_15[['ratio_2015']],
                     np_50[['ratio_np']],
                     fbp[['ratio_fbp']],
                     alt1[['ratio_alt1']],
                     alt2[['ratio_alt2']]
                    ], axis=1, join="inner")
summary.sort_values(by='COUNTY_NAME')

               ratio_2015  ratio_np  ratio_fbp  ratio_alt1  ratio_alt2
COUNTY_NAME
Alameda          1.570758  1.403458   1.395923    1.369323    1.423970
Contra Costa     1.052486  0.741768   0.968078    1.166358    0.996082
Marin            1.243767  0.898142   0.794734    0.835958    0.881899
Napa             1.411150  1.511416   1.559396    1.560335    1.612900
San Francisco    1.867715  1.911180   1.587589    1.439469    1.935832
San Mateo        1.484051  1.266000   1.288349    1.162388    1.230468
Santa Clara      1.762377  1.554061   1.497829    1.509369    1.313413
Solano           0.930349  0.949817   1.141198    1.297235    1.123459
Sonoma           1.186491  1.209053   1.142840    1.137587    1.123972