In [1]:
import pandas as pd

In [5]:
pcl19 = pd.read_csv('07_11_2019_parcels_geography.csv')
p10_pba50_att = pd.read_csv('p10_pba50_attr_20200221.csv')

In [6]:
pcl19.head()

,Unnamed: 0,geom_id,jurisdiction_id,pda_id,tpp_id,exp_id,opp_id,zoningmodcat,perffoot,perfarea,urbanized,juris_id,hra_id,trich_id,cat_id,zoninghzcat
0,0,10305106092872,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0,1,livr,HRA,NaN,NaN,livrHRANANA
1,1,11107351665227,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0,1,livr,NaN,NaN,NaN,livrNANANA
2,2,11030175960628,33000,NaN,NaN,NaN,NaN,33000NANANANA,1,0,0,hayw,NaN,NaN,NaN,haywNANANA
3,3,6381677629073,97,NaN,NaN,NaN,NaN,00097NANANANA,0,0,0,uson,NaN,NaN,NaN,usonNANANA
4,4,314875459798,26000,NaN,b1,NaN,NaN,26000NAb1NANA,1,1,1,frem,HRA,Conn,NaN,fremHRAConnNA

In [8]:
p10_pba50_att.head()

,OBJECTID,PARCEL_ID,DEVELOPMEN,LAND_VALUE,ACRES,COUNTY_ID,ZONE_ID,PROPORTION,TAX_EXEMPT,APN,...,Shape_Area,gg_id,tra_id,sesit_id,ppa_id,exp2020_id,pba50chcat,exsfd_id,chcatwsfd,pba50zoningmodcat
0,1,229116.0,1.0,0.0,3.360520,1.0,725.0,0.0,0.0,099 029001700,...,1.359435e+04,NaN,NaN,HRADR,NaN,NaN,NANAHRADRNA,NaN,NaN,livrNANAHRADRNANANA
1,2,244166.0,1.0,0.0,1.294423,1.0,715.0,0.0,0.0,099B540210200,...,5.236557e+03,NaN,NaN,DR,NaN,NaN,NANADRNA,NaN,NaN,livrNANADRNANANA
2,3,202378.0,25.0,6036500.0,14.993605,1.0,820.0,0.0,1.0,085A643106000,...,6.064822e+04,NaN,NaN,NaN,NaN,NaN,NANANANA,NaN,NaN,haywNANANANANANA
3,4,2004420.0,-1.0,179954.0,316.247146,97.0,1401.0,0.0,0.0,141-100-012,...,1.278606e+06,NaN,NaN,DR,NaN,NaN,NANADRNA,NaN,NaN,usonNANADRNANANA
4,5,340332.0,2.0,0.0,0.621275,1.0,763.0,0.0,0.0,525 166004800,...,2.513034e+03,NaN,NaN,HRADR,NaN,NaN,NANAHRADRNA,NaN,NaN,fremNANAHRADRNANANA

In [16]:
# check unique ID in both tables
print(len(pcl19.geom_id.unique()) == pcl19.shape[0])
print(len(p10_pba50_att.GEOM_ID.unique()) == p10_pba50_att.shape[0])

print(pcl19.shape[0])
print(p10_pba50_att.shape[0])

True
True
1956208
1956208

In [31]:
pcl19['geom_id'] = pcl19['geom_id'].apply(lambda x: int(x))
p10_pba50_att['geom_id_s'] = p10_pba50_att['geom_id_s'].apply(lambda x: int(x))
merg_outer = pd.merge(pcl19,p10_pba50_att, how='outer', left_on='geom_id', right_on='geom_id_s')
display(merg_outer.head())
merg_outer.shape[0]

,Unnamed: 0,geom_id,jurisdiction_id,pda_id_x,tpp_id_x,exp_id_x,opp_id_x,zoningmodcat_x,perffoot_x,perfarea_x,...,Shape_Area,gg_id,tra_id,sesit_id,ppa_id,exp2020_id,pba50chcat,exsfd_id,chcatwsfd,pba50zoningmodcat
0,0,10305106092872,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0,...,1.359435e+04,NaN,NaN,HRADR,NaN,NaN,NANAHRADRNA,NaN,NaN,livrNANAHRADRNANANA
1,1,11107351665227,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0,...,5.236557e+03,NaN,NaN,DR,NaN,NaN,NANADRNA,NaN,NaN,livrNANADRNANANA
2,2,11030175960628,33000,NaN,NaN,NaN,NaN,33000NANANANA,1,0,...,6.064822e+04,NaN,NaN,NaN,NaN,NaN,NANANANA,NaN,NaN,haywNANANANANANA
3,3,6381677629073,97,NaN,NaN,NaN,NaN,00097NANANANA,0,0,...,1.278606e+06,NaN,NaN,DR,NaN,NaN,NANADRNA,NaN,NaN,usonNANADRNANANA
4,4,314875459798,26000,NaN,b1,NaN,NaN,26000NAb1NANA,1,1,...,2.513034e+03,NaN,NaN,HRADR,NaN,NaN,NANAHRADRNA,NaN,NaN,fremNANAHRADRNANANA

1956208

In [36]:
missing50cat = merg_outer.loc[merg_outer.pba50zoningmodcat.isnull()]
display(missing50cat)
print(missing50cat.shape[0] / pcl19.shape[0])

Empty DataFrame
Columns: [Unnamed: 0, geom_id, jurisdiction_id, pda_id_x, tpp_id_x, exp_id_x, opp_id_x, zoningmodcat_x, perffoot_x, perfarea_x, urbanized, juris_id_x, hra_id_x, trich_id_x, cat_id_x, zoninghzcat_x, OBJECTID, PARCEL_ID, DEVELOPMEN, LAND_VALUE, ACRES, COUNTY_ID, ZONE_ID, PROPORTION, TAX_EXEMPT, APN, GEOM_ID, IMPUTATION, ID, CENTROID, X, Y, geom_id_s, manual_county, jurisdiction, pda_id_y, tpp_id_y, exp_id_y, exp_score, opp_id_y, zoningmodcat_y, perffoot_y, perfarea_y, mapshell, tpa_id, perfarea2, alt_zoning, zonetype, pubopp_id, puboppuse, juris_id_y, hra_id_y, trich_id_y, cat_id_y, chcat, zoninghzcat_y, Shape_Length, Shape_Area, gg_id, tra_id, sesit_id, ppa_id, exp2020_id, pba50chcat, exsfd_id, chcatwsfd, pba50zoningmodcat]
Index: []

[0 rows x 67 columns]

In [53]:
pcl_new = pd.merge(pcl19, p10_pba50_att[['geom_id_s','pba50zoningmodcat']],how='outer', left_on='geom_id', right_on='geom_id_s')
pcl_new.drop(columns=['geom_id_s'],inplace = True)
display(pcl_new)
pcl_new.to_csv('02_21_2020_parcels_geography.csv', index = False)

,Unnamed: 0,geom_id,jurisdiction_id,pda_id,tpp_id,exp_id,opp_id,zoningmodcat,perffoot,perfarea,urbanized,juris_id,hra_id,trich_id,cat_id,zoninghzcat,pba50zoningmodcat
0,0,10305106092872,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0,1,livr,HRA,NaN,NaN,livrHRANANA,livrNANAHRADRNANANA
1,1,11107351665227,41992,NaN,NaN,NaN,NaN,41992NANANANA,1,0,1,livr,NaN,NaN,NaN,livrNANANA,livrNANADRNANANA
2,2,11030175960628,33000,NaN,NaN,NaN,NaN,33000NANANANA,1,0,0,hayw,NaN,NaN,NaN,haywNANANA,haywNANANANANANA
3,3,6381677629073,97,NaN,NaN,NaN,NaN,00097NANANANA,0,0,0,uson,NaN,NaN,NaN,usonNANANA,usonNANADRNANANA
4,4,314875459798,26000,NaN,b1,NaN,NaN,26000NAb1NANA,1,1,1,frem,HRA,Conn,NaN,fremHRAConnNA,fremNANAHRADRNANANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1956203,1956203,17158666132196,2252,NaN,NaN,NaN,NaN,02252NANANANA,1,0,1,anti,NaN,NaN,NaN,antiNANANA,antiNANADRNANAsfd
1956204,1956204,16389503450045,16000,NaN,NaN,NaN,NaN,16000NANANANA,1,0,1,conc,NaN,NaN,NaN,concNANANA,concNANADRNANAsfd
1956205,1956205,1496694834659,52582,NaN,NaN,NaN,NaN,52582NANANANA,1,0,1,nova,HRA,NaN,NaN,novaHRANANA,novaNANAHRADRNANANA
1956206,1956206,10694584892329,13,NaN,NaN,NaN,NaN,00013NANANANA,1,0,1,ucnc,HRA,NaN,NaN,ucncHRANANA,ucncNANAHRADRNANAsfd
1956207,1956207,10923365809666,41,NaN,b2,NaN,NaN,00041NAb2NANA,0,1,0,umar,NaN,NaN,NaN,umarNANANA,umarNANANANANANA